# Streamlit secrets
.streamlit/secrets.toml

# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Database
*.db
*.sqlite

# Environment
.env